---
import BtnTransparent from '@/ui_complements/Btn-Transparent.astro'

interface Props {
    number: string,
    titleFront: string,
    titleBack: string,
    href: string,
    linkText: string,    
}

const { number, titleFront, titleBack, href, linkText } = Astro.props;
---

<article class="w-full md:min-w-[270px] lg:w-full h-full min-h-[400px] grid grid-cols-1 grid-rows-1 aspect-[10/16] snap-center overflow-hidden duration-500">
    <div class="col-start-1 col-end-2 row-start-1 row-end-2 h-full flex flex-col items-center text-center translate-y-0 bg-[var(--overlay-strong)] pt-[35%] lg:pt-[55%] duration-500">
      <p class="title px-4 lg:px-6 bg-[var(--secondary)] text-[var(--gold-back)] rounded-sm">{number}</p>
      <div class="w-[2px] h-6 bg-[var(--secondary)] my-2"></div>
      <h2 class="title w-3/5 text-[var(--secondary)]">{titleFront}</h2>
    </div>
    <div class="col-start-1 col-end-2 row-start-1 row-end-2 h-full grid place-content-center translate-y-full duration-500 py-5 px-4">
      <h2 class="title text-center text-[var(--gold)]">{titleBack}</h2>
      <ul class="flex flex-col text-center text-[var(--secondary)] items-center py-8 gap-4">
        <slot class="text-font text-[var(--primary)] m-2" />
      </ul>
      <BtnTransparent href={href} text={linkText} />
    </div>
  </article>

  <style>

    article:hover div:first-child() {
      transform: translateY(-100%);
    }

    article:hover div:nth-child(2) {
      transform: translateY(0%);
      backdrop-filter: blur(8px);
      background-color: var(--overlay-dark);
      color: var(--primary);
    }
  </style>